@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Cities";
}

<h1>Cities</h1>
<p>My favorite cities:</p>

<ol>
    @foreach(var city in ViewBag.Cities)
        {
            <li>@city</li>
        }
</ol>
